.seo {
  margin-top: 80px;

  &__information {
    font-weight: normal;
    font-size: 13px;
    line-height: 160%;
    color: #7B94B0;
    overflow: hidden;

    &--short {
      position: relative;
      height: 42px;

      &:before {
        content: "";
        position: absolute;
        display: block;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: 36px;
        z-index: 1;
        background: #fff;
        background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 100%);
      }
    }
  }
}