.best-deals {
  display: flex;
  flex-wrap: wrap;

  &__link {
    font-weight: bold;
    font-size: 14px;
    line-height: 114%;
    color: #7B94B0;
    margin: 0 12px 0 12px;
    padding-top: 8px;
    padding-bottom: 8px;
    border-bottom: 1px dashed #7B94B0;

    @media (max-width: 400px) {
      margin-bottom: 5px;
    }

    &:hover {
      margin: 0;
      padding: 8px 12px 8px 12px;
      background: #FDF2EC;
      border-radius: 20px;
      color: #E77E42;
      border-bottom: none;
    }

    &--active {
      margin: 0;
      padding: 8px 12px 8px 12px;
      background: #FDF2EC;
      border-radius: 20px;
      color: #E77E42;
      border-bottom: none;
    }
  }
}
