.top-left {
  display: flex;

  &__item {
    display: flex;
    margin-left: 74px;

    &:nth-child(1) {
      margin-left: 0;
    }
  }

  &__item-link {
    padding-right: 16px;
    font-weight: 400;
    font-size: 14px;
    line-height: 114%;
    color: #7B94B0;

    &:hover {
      @media (min-width: 992px) {
        color: #202454;
      }
    }

    &:focus {
      @media (min-width: 992px) {
        color: #2C9323;
      }
    }

  }

}