.footer-about {
  width: 940px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  @media (max-width: 1400px) {
    width: 100%;
  }
  @media (max-width: 1000px) {
    display: none;
  }
  @media (max-width: 769px) {
    width: 100px;
  }

  &__item {
    width: 33.33%;
  }

  &__title {
    font-weight: normal;
    font-size: 20px;
    line-height: 115%;
    color: #FFFFFF;
    margin-bottom: 24px;
  }

  &__list {
    display: flex;
    flex-direction: column;

    @media (max-width: 1000px) {
      display: none;
    }
  }
}