.registration {
  background-color: #E77E42;
  padding: 15px 32px 14px 32px;
}

.registration__text {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: bold;
  font-size: 16px;
  line-height: 118%;
  text-transform: uppercase;
  color: #FFFFFF;
}

.registration__text:hover {
  color: #202454;
}