.menu-button {
  @media (min-width: 992px) {
    display: none;
    margin: 0;
    padding: 0;
  }
  @media (max-width: 1000px) {
    margin-top: 2px;
  }
  @media (max-width: 450px) {
    margin-top: 10px;
  }
}

.menu-button .icon-menu {
  display: none;
}

.menu-button.is-open .icon-menu {
  display: block;
}

.menu-button.is-open .icon-exit {
  display: none;
}

