.block-blog {
  width: 100%;

  &__info {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media (max-width: 680px) {
      flex-wrap: wrap;
      justify-content: center;
    }
  }
}